{% extends 'base.html' %}

{% block header %}
<div class="bg-body-tertiary p-3 p-sm-5 mb-4">
    <div class="container">
      <h1 class="display-4">TodoList</h1>
      <p>TodoListを作成して生産的な毎日を過ごしましょう</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">もっと学ぼう »</a>
    </div>
  </div>
{% endblock header %}

{% block content %}
<div class="container">
    <a class="btn btn-secondary mb-3" href="{% url 'create' %}" role="button">新規作成</a>
{% for item in object_list %}
<div class="alert alert-{{ item.priority }}" role="alert">
    <p>{{ item.title }}  期日：{{ item.duedate | date:"Y年 m月 d日" }}</p>
    <a class="btn btn-info text-white" href="{% url 'update' item.pk %}" role="button">編集画面へ</a>
    <a class="btn btn-success" href="{% url 'delete' item.pk %}" role="button">削除画面へ</a>
    <a class="btn btn-primary" href="{% url 'detail' item.pk %}" role="button">詳細画面へ</a>
</div>
{% endfor %}
</div>

{% endblock content %}